:root {
  --main-text: #324686;

}

a {
    text-decoration: none !important;
    outline: none;
    color: #161c2d;
    font-family: "Inter",sans-serif;
}

.navbar .nav-btn {
    color: #00bcd4;
    border: 1px solid #eaf0f9;
    background-color: #fff;
}

/* HEADER */
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #324686;
    padding-right: 26px;
}

.nav-sticky {
    padding: 12px 0px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(191,197,213,0.07);
}

.nav-sticky .nav-btn {
    color: #fff !important;
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
}

.btn-primary, .btn-outline-primary, .nav-sticky .nav-btn {
    border: 1px solid #00bcd4 !important;
}

.bg-primary, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-soft-primary:hover, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .nav-sticky .nav-btn {
    background-color: #00bcd4 !important;
}

.navbar .nav-btn {
    border: 1px solid rgba(0, 188, 212, 0.3);
}

.navbar a.hire-btn {
 color: #324686;
}


/*RESUME*/

.personal-detail-info {
    padding-left: 190px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text);
}

mark {
    color: inherit;
    padding: 0;
    background: 0 0;
    background-image: linear-gradient(120deg, rgba(255,200,53,0.8) 0, rgba(255,200,53,0.8) 100%);
    background-repeat: no-repeat;
    background-size: 0 0.3em;
    background-position: 0 80%;
    position: relative;
    background-size: 100% 0.25em;
    animation-delay: 1s;
}

.personal-detail-title {
    width: 168px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    position: relative;
    display: block;
    font-size: 16px;
}

.personal-detail-title:after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}


/* SECTION */

.bg-gradient-light-white {
    background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
}

.section {
    padding: 100px 0px 100px;
    position: relative;
}
h5 {
color: red;}
.bg-soft-alt-success {
    background-color: rgba(105,195,128,0.1);
    color: #69c380;
}

.social i {
    width: 36px;
    height: 36px;
    border: 1px solid #8997bd;
    color: #8997bd;
    border-radius: 50%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-size: 22px;
}

/*login*/
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }