<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="fragments/fragments::head"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Sign Out"/>
</form>

<section class="hero-one position-relative dark-bg" alt="Stars night photo by nic chi. taken from Unsplash.com"
         id="home"
         th:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + @{/images/dark-bg.jpg} + '\'); background-size: cover; background-position: center center;'">
    <div class="container">
        <div class="row  py-100 align-items-center justify-content-center">


            <div class="col-lg-7 text-center py-5 text-center">

                <h5 class="head-title py-4">Add a new article</h5>

                <span class="wrap"></span>
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- end container -->
</section>

<div class="container mt-5 mb-5">

    <form enctype="multipart/form-data" action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Your title" class="form-control"><br>
        <input type="text" name="anons" placeholder="Insert anons for your article" class="form-control"><br>
        <input type="text" name="tag" placeholder="Insert tags for your article" class="form-control"><br>
        <input type="text" name="photoLink" placeholder="Insert link to the photo for your article" class="form-control"><br>
        <input type="text" name="videoLink" placeholder="Insert link to the video for your article" class="form-control"><br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <textarea name="fullText" placeholder="Type your article here" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add an article</button>
    </form>
</div>

<div th:replace="fragments/fragments :: footerlg"></div>
<div th:replace="fragments/fragments :: footersm"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/shuffle.min.js"></script>
<script src="/js/projects.init.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
