<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div><br>
            <div><label> Password: <input type="password" name="password"/> </label></div><br>
            <input type="hidden" name = "_csrf" value="{{_csrf.token}}"/>

            <button type="submit"  class="btn btn-success" value="Sign In">Sign In</button>
        </form>
        <a href="/registration">Add new user</a>
    </body>
</html>