<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="fragments/fragments::head"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">Want to share your
                    thoughts?
                    <br/>
                    <span style="color: hsl(218, 81%, 75%)">register now!</span></h1>

                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form action="/login" method="post">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="registrationFormUserName" class="form-control" name="username"/>
                                <label class="form-label" for="registrationFormUserName">Email address</label>
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="registrationFormPass" class="form-control" name="password"/>
                                <label class="form-label" for="registrationFormPass">Password</label>
                            </div>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

                            <button type="submit" class="btn btn-success" value="Sign In">Sign In</button>
                            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 75%)"> Do you want to register?
                                <a href="/registration">Add new user</a>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/fragments :: footerlg"></div>
<div th:replace="fragments/fragments :: footersm"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/shuffle.min.js"></script>
<script src="/js/projects.init.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
