<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="fragments/fragments::head"/>
<body>
<div class="nav-bar-light">
<div th:replace="fragments/fragments :: navbar"></div>



<section class="hero-one position-relative dark-bg" alt="Stars night photo by nic chi. taken from Unsplash.com"
         id="home"
         th:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + @{/images/dark-bg.jpg} + '\'); background-size: cover; background-position: center center;'">
    <div class="container">
        <div class="row  py-100 align-items-center justify-content-center">


            <div class="col-lg-7 text-center py-5 text-center">

                <h5 class="head-title py-4">I'm all about tech and creating awesome things!</h5>
                <p class="text-white">
                    I use the latest tools like ReactJS, Node + Express, SQL, C#, HTML, CSS, and JavaScript to build secure online stores, robust databases, and user-friendly websites.
                    My secret? Staying up-to-date with the latest tech to bring your projects to life! Here are some projects that I've made.
                </p>

                <span class="wrap"></span>
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- end container -->
</section>
<div th:replace="sections/project :: project"></div>

<div th:replace="fragments/fragments :: footerlg"></div>
<div th:replace="fragments/fragments :: footersm"></div>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/feather.js"></script>
<script src="js/shuffle.min.js"></script>
<script src="js/projects.init.js"></script>
<script src="js/typed.js"></script>
<script src="js/app.js"></script>
</div>
</body>
</html>