<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
    Add new user
    {{#message}}
        {{message}}
    {{/message}}
        <form action="/registration" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div><br>
            <div><label> Password: <input type="password" name="password"/> </label></div><br>
            <input type="hidden" name = "_csrf" value="{{_csrf.token}}"/>

            <button type="submit"  class="btn btn-success" value="Sign In">Sign In</button>
        </form>

    </body>
</html>