<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="fragments/fragments::head"></div>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Sign Out"/>
</form>

<section class="hero-one position-relative dark-bg" alt="Stars night photo by nic chi. taken from Unsplash.com"
         id="home"
         th:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\'' + @{/images/dark-bg.jpg} + '\'); background-size: cover; background-position: center center;'">
    <div class="container">
        <div class="row  py-100 align-items-center justify-content-center">


            <div class="col-lg-7 text-center py-5 text-center">

                <h5 class="head-title py-4">List of users</h5>

                <span class="wrap"></span>
            </div><!--end col-->
        </div><!--end row-->
    </div><!-- end container -->
</section>

<div>


    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${role}" th:if="${not #lists.isEmpty(user.roles)}"></span>
            </td>
            <td><a th:href="@{/user/{id}(id=${user.userId})}">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/fragments :: footerlg"></div>
<div th:replace="fragments/fragments :: footersm"></div>
</body>
</html>
