<section class="section bg-gradient-light-white" id="review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded shadow ">
                    <div class="client-carousel">
                        <div class="row align-items-center">
                            <div class="col-lg-10 p-5 mx-auto">
                                <div class="client-carousel">
                                    <div id="demo" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-wrap="true">
                                        <div class="carousel-inner">
                                            <div class="carousel-item text-center" data-bs-interval="4000">
                                                <img src="images/logos/logo-1.svg" alt="" class="my-3" height="70">
                                                <p class="font-secondary fs-22 fst-italic mb-4 px-4">
                                                    The Departmental Service Award
                                                </p>
                                                <img src="images/users/user-3.jpg" alt="" class="thumb-lg rounded-circle d-block mx-auto">
                                                <span class="text-uppercase text-muted fs-14 fw-medium">Issued by The Department of Computer Systems Technology of NYCCT</span>
                                            </div>
                                            <div class="carousel-item text-center active" data-bs-interval="4000">
                                                <img src="images/logos/logo-3.svg" alt="" class="my-3" height="70">
                                                <p class="font-secondary fs-22 fst-italic mb-4 px-4">
                                                    The Marc Eisendorf Memorial Award
                                                </p>
                                                <img src="images/users/user-5.jpg" alt="" class="thumb-lg rounded-circle d-block mx-auto">
                                                <span class="text-uppercase text-muted fs-14 fw-medium">Issued by The Department of Computer Systems Technology of NYCCT</span>

                                            </div>
                                            <div class="carousel-item text-center active" data-bs-interval="4000">
                                                <img src="images/logos/logo-3.svg" alt="" class="my-3" height="70">
                                                <p class="font-secondary fs-22 fst-italic mb-4 px-4">
                                                    Honors Scholars Program at City Tech
                                                </p>
                                                <img src="images/users/user-5.jpg" alt="" class="thumb-lg rounded-circle d-block mx-auto">
                                                <span class="text-uppercase text-muted fs-14 fw-medium">The National Society of Collegiate Scholars May 2023</span>

                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </button>
                                </div> <!--end client-carousel-->
                            </div><!--end col-->
                        </div><!-- end row -->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div><!-- end row -->
    </div><!-- end container -->
</section>