<section class="section " id="blogs" th:fragment="blog">
  <div class="container pb-5">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Blog</span>
        <h2 class="fs-2 fw-normal lh-1 text-dark my-3">Latest news &amp; insights</h2>
        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
          I'm shaping my latest thoughts on what's happening in the tech world. I'm delving into data science, ethics, and AI to create brand experiences that truly matter.
        </p>
      </div><!--end col-->
    </div>
    <div class="row align-items-center">

      <div class="col-lg-4 col-md-6" th:each="article : ${articles}" >
        <div class="card shadow">
          <img th:src="@{/images/article1.jpg}" alt="Abstract nets data" class="img-fluid rounded-top">
          <div class="card-body">

            <a th:href="@{/blog/{id}(id=${article.id})}" class="fs-20 my-0 d-block fw-medium" ><p th:text="${article.title}"></p></a>
            <p th:text="${article.anons}"></p>
            <hr class="hr-dashed">
            <div class="d-flex justify-content-between">
              <div class="meta-box">
                <div class="media">
                  <img th:src="@{/images/1.png}" alt="" class="thumb-sm rounded-circle me-2 align-self-center">
                  <div class="media-body align-self-center text-truncate">
                    <h6 class="m-0 fs-14" th:text="${article.authorName}"></h6>
                    <p class="mb-0 fs-12 text-muted">14 Feb 2022</p>
                  </div><!--end media-body-->
                </div>
              </div><!--end meta-box-->
              <div class="align-self-center">
                <a th:href="@{/blog/{id}(id=${article.id})}" class="fs-14">Read more <i class="las la-arrow-right"></i></a>
              </div>
            </div>
          </div><!--end card-body-->
        </div><!--end card-->
      </div><!--end col-->

    </div><!-- end row -->
  </div>
  <!-- end container -->
</section>