<section class="section" id="projects" th:fragment="project">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3">My Projects</h2>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    Here you'll find a selection of the projects I've developed. These works reflect my commitment to quality and problem-solving, spanning various domains and technologies.                </p>
            </div><!--end col-->
        </div><!--end row-->
<!--        <div class="row">-->
<!--            <div class="col-12 filters-group-wrap">-->
<!--                <div class="filters-group mb-5">-->
<!--                    <ul class="mb-0 list-unstyled filter-options filter-tab">-->
<!--                        <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>-->
<!--                        <li class="list-inline-item position-relative text-dark" data-group="angular">Angular</li>-->
<!--                        <li class="list-inline-item position-relative text-dark" data-group="mongodb">Mongodb</li>-->
<!--                        <li class="list-inline-item position-relative text-dark" data-group="bootstrap">Bootstrap</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
        <div class="row d-flex g-1 justify-content-center shuffle projectContainer" id="grid" style="position: relative; overflow: hidden; height: 377px; transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">



       </div><!-- end row -->
    </div><!-- end container -->
</section>

