<section class="section" id="about" th:fragment="resume">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 align-self-center">
        <h5 class="fs-24 text-dark fw-medium"><mark>Personal Details</mark></h5>
        <h4 class="fw-normal lh-base text-gray-700 mb-4 fs-20">I'm a passionate software developer, and I'm here to lend a helping hand! Whether it's building innovative applications, solving complex problems, or creating efficient and user-friendly software, I'm excited to be part of your journey. Let's collaborate and make your ideas come to life.
          Together, we can create remarkable solutions that make a difference. Feel free to reach out, and let's get started!
        </h4>
        <div class="social">
          <a href="#">
            <i class="lab la-github github me-1"></i>
          </a>
          <a href="#">
            <i class="lab la-twitter twitter me-1"></i>
          </a>
          <a href="#">
            <i class="lab la-google google me-1"></i>
          </a>
          <a href="#">
            <i class="lab la-linkedin-in linkedin me-1"></i>
          </a>
        </div>
      </div><!--end col-->
      <div class="col-lg-5 ms-auto align-self-center">
        <div class="mb-5 mb-lg-0">
          <p class="mb-2">
            <span class="personal-detail-title">Spoken Langages</span>
            <span class="personal-detail-info">English - Belarusian - French - Russian - Polish</span>
          </p>
          <p class="mb-2">
            <span class="personal-detail-title">Nationality</span>
            <span class="personal-detail-info">Belarus</span>
          </p>
          <p class="mb-2">
            <span class="personal-detail-title">Interest</span>
            <span class="personal-detail-info">Music, Reading, Travelling, Trivia Games</span>
          </p>
        </div>
      </div><!--end col-->
      <div class="col-12 mt-5">
        <div class="d-flex flex-wrap justify-content-center  mt-4 mt-md-5">
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/android.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Android</h6>
                <p class="text-muted mb-0 fs-12">2 Year Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/Angular.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Angular</h6>
                <p class="text-muted mb-0 fs-12">1 Year Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/bootstrap.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Bootstrap</h6>
                <p class="text-muted mb-0 fs-12">3 Year Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/vue.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Vue</h6>
                <p class="text-muted mb-0 fs-12">2 Year Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/react.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">React</h6>
                <p class="text-muted mb-0 fs-12">8 Months Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/mongodb.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Mongodb</h6>
                <p class="text-muted mb-0 fs-12">3 Months Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/laravel.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Laravel</h6>
                <p class="text-muted mb-0 fs-12">1 Year Experience</p>
              </div>
            </div>
          </div><!--/div-->
          <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
              <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="images/logos/nodejs-icon.svg" alt="" class="" height="34">
              </div>
              <div class="ms-3">
                <h6 class="mb-0 fw-medium text-gray-700">Node.js</h6>
                <p class="text-muted mb-0 fs-12">10 Months Experience</p>
              </div>
            </div>
          </div><!--/div-->
        </div><!-- End div -->
      </div><!-- End Col -->
    </div><!--end row-->
  </div><!-- end container -->
</section>